{% extends 'base.html.twig' %}
{% block title %}Hello MesPoissonsController!{% endblock %}
{% block body %}
  <h2>{{ message }}</h2>
  <p id="comment"></p>
  <img src="{{ asset('assets/icones/vieille.png') }}" alt="">
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="js\monJs.js">
{% endblock %}
